.modal-wrapper{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(189, 189, 189, 0.9);
}
.modal-container{
    
    max-width: 30rem;
    left: 35%;
    top: 30%;
    right: 35%;
    transform: translate(-15%);
    background-color: var(--white-color);
    padding: 2rem 3rem;
    border-radius: 0.5rem;

    @media(max-width:776px) {
        left:20%;
        right: 0;
        
    }
}
.card-style{
    width: 24rem;
    color: var(--font-color);
    font-size: 1.25rem;
    margin: 1rem;

    @media (max-width:776px) {
        display: block;
        width: 100%;
        margin: 0;
        margin-bottom: 1rem;
        margin-left: 1rem;
    }

    &:hover{
        box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);;
    }
}
.card-cont{
   
    justify-content: center;
    align-items: center;
    width: 80%;
}
.changeColor{
    color: var(--blue-color);
    font-weight: 700;
}