/* Google Poppins Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

/* Global Variables */
:root{
    --white-color:#fdfffc;
    --blue-color:#6168ff;
    --blue-color-bg: rgb(97 104 255 / 9%);
  --border-color-light: rgba(255,255,255,0.2);
  --box-shadow:rgb(0 0 0 / 12%);
  --font-color: rgb(21 21 21 / 67%);
  /* Font Family */
  --primary-font:'Poppins', sans-serif;
}
html,body{
    font-size: 14px;
    font-family: var(--primary-font);
    color: var(--font-color);
    background: url('../src/assets/pexels-bg-1.webp');
    /* background: url('../src/assets/pexels-bg-2.jpeg') center center; */
    background-size: cover;
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Custom Scrollbar */
  ::-webkit-scrollbar{
    width: .375rem;
  }
  ::-webkit-scrollbar-track{
    background: var(--secondary-color);
  }
  ::-webkit-scrollbar-thumb{
    background: var(--primary-color);
  }
  a{
    text-decoration: none;
  }
  .container-fluid{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
   
  }
  
  .containerr{
    width: auto;
    max-width: 1320px;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    @media (max-width:992px){
    padding-left: 3rem;
    padding-right: 3rem;   
    }
  }
  .btn-wrapper{
    margin-top: 5rem;
    @media (max-width:992px){
      width: 100%;
      text-align: center;
      display: block;
    }
    @media (max-width: 767px){
      margin-bottom: 3rem;
    }
    .btn{
      padding: 0.875rem 2.571rem;
      font-size: 1.143rem;
      border-radius: 2.143rem;
      font-weight: 600;
      box-shadow: 0 0.5rem 1rem rgb(23 23 23 /17%);
      outline: 2px solid var(--primary-color);
      outline-offset: 0px;
      border: none;
      cursor: pointer;
      background: var(--blue-color);
      transition: all .3s ease-in-out;
      color: var(--white-color);
  
      
      &:hover{
        background-color: var(--blue-color-bg);
        color: var(--blue-color);
      }
    }
  }
  
  h1{
    font-size: 3.875rem;
    margin-bottom: 1.25rem;
    font-weight: 600;
    color: var(--font-color);
    text-align: center;
  }
  
  h2{
    font-size: 2.875rem;
    font-weight: 600;
  }
  h3{
    font-size: 2.25rem;
    font-weight: 600;
  }
  h4{
    font-size: 1.5rem;
    line-height: 2.25rem;
    font-weight: 600;
  }
  h5{
    font-size: 1.5rem;
    line-height: 1.25rem;
    margin-bottom: .9375rem;
    font-weight: 500;
  }
  h6{
    font-size: .875rem;
    text-transform: uppercase;
    margin-bottom: .9375rem;
    font-weight: 300;
  }
  p{
    font-size: 1rem;
    color: var(--font-color);
    line-height: 1.62rem;
  }
  .login-container{
    background-color: var(--box-shadow);
  }